# --- Android Studio / IntelliJ ---
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# --- Compilación y Temporales (¡Muy importante!) ---
/build
/app/build
/captures
.externalNativeBuild
.cxx

# --- Archivos de registro (Logs) ---
*.log
hs_err_pid*
replay_pid*

# --- Mockups / Diseño ---
# Bloquea toda la carpeta de assets si solo son mockups
/app/assets/
/app/assets/Screens/

# --- Otros ---
*.apk
*.ap_
*.dex
*.class